* {
    box-sizing:content-box;
   font-size: 1.3rem;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
     Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
 }
 
 
 html {
   font-size: 62.5%;
 }
 body {
   background-color: rgb(246, 240, 240);
 }
 .main {
   border: 1px solid black;
   width: 150rem;
   height: 70rem;
   
    display: flex;
 }
 
 .main-header{
   
     margin-inline-start: 15rem;
     display: flex;
     margin-top: 2rem;
     
    
     font-family: Arial, Helvetica, sans-serif;
 }
 #inp {
 background-color: rgb(218, 204, 204);
 
   height: 2rem;
   border-radius: 3rem;
   width: 35rem;
   margin-left: 20rem;
   padding: 1rem;
   color: black;
 }
 .add {
   background-color: chocolate;
   color: white;
   border-radius: 1.5rem;
   height: 2.5rem;
   width: 10rem;
   padding-left: 1.5rem;
   margin-left: 4rem;
   padding-top: 0.8rem;
   font-size: 1.5rem;
 }
 
 
 .filter {
   padding-left: 1.5rem;
   padding: 1rem;
   background-color: chocolate;
   border-radius: 2.5rem;
   height: 1.5rem;
   margin-left: 1.3rem;
 }
 .cate img {
   margin-left: 1rem;
 
   border-radius: 2.5rem;
   height: 2rem;
   padding: 0.1rem;
   padding-top: 0.3rem;
 }
 .opt img {
   background-color: chocolate;
 
   border-radius: 2.5rem;
   height: 2rem;
   padding-bottom: 0.5rem;
   padding-left: 1rem;
   padding-top: 0.5rem;
   padding-right: 1rem;
 }
 
 #icon {
   background-color: white;
   border-radius: 2rem;
   height: 3.5rem;
   margin-left: 1.3rem;
   width: 8rem;
 }
 .account {
   background-color: rgb(238, 244, 244);
   color: black;
   border-radius: 2.5rem;
   height: 3rem;
   width: 14rem;
   margin-left: 1.3rem;
   /* padding: 2px; */
   padding-bottom: 0.5rem;
   padding-left: 1rem;
   padding-top: 0.1rem;
   padding-right: 1rem;
   display: flex;
   
 }
 .account img {
   background-color: white;
   border-radius: 3.5rem;
   padding: 0.5rem;
   margin-left: 0.2rem;
 }
 .left {
   background-color: rgb(255, 255, 255);
   width: 20rem;
   padding: 0.5rem;
   height: 68rem;
 /* margin: auto 0; */
   border: 0.2rem solid white;
   padding-top: 0.9rem;
 }
 
 
 .shift {
   margin-left: 4rem;
 }
 
 .side-left {
   padding-top: 2rem;
   color: black;
 }
 .table {
   position: absolute;
   padding-top: 10rem;
   box-sizing: border-box;
   margin-left: 22rem;
   background-color: white;
   padding: 3rem;
   width: 120rem;
   margin-top: 7rem;
   border-radius: 1.5rem;
 }
 .table thead tr {
   border-bottom-style: groove;
   border-width: 0.1rem;
   text-align: center;
 }
 
 .table tbody td {
   border-bottom-style: groove;
 }
 .outline {
   border-color: rgb(229, 220, 220);
   border-top-style: none;
 }
 .tele img {
   background-color: rgb(90, 148, 90);
   padding: 0.5rem;
   border-radius: 2.5rem;
   align-items: center;
   height: 2rem;
 }
 table,
 th,
 td {
   padding: 0.8rem;
   border-collapse: collapse;
   border-style: none;
 
   position: relative;
 }
 .close img {
   background-color: rgb(233, 148, 148);
   height: 2rem;
   border-radius: 2.5rem;
   padding: 0.3rem;
 }
 .tick img {
   background-color: rgb(90, 148, 90);
 }
 .tel img {
   background-color: rgb(77, 167, 137);
   padding: 0.5rem;
   border-radius: 2.5rem;
   align-items: center;
   height: 2rem;
 }
 .rotate img {
   background-color: rgb(205, 160, 63);
   padding: 0.5rem;
   border-radius: 2.5rem;
   align-items: center;
   height: 2rem;
 }
 
 .check img {
   background-color: rgb(34, 127, 11);
   padding: 0.5rem;
   border-radius: 2.5rem;
   align-items: center;
   height: 2rem;
   align-items: center;
 }
 .exp {
   background-color: rgb(5, 5, 66);
   color: white;
   border-radius: 2.5rem;
   width: 8.5rem;
   padding: 1rem;
 }
 .call {
   color: rgb(6, 212, 6);
 }
 .bad {
   color: brown;
 }
 #ide {
   color: rgb(59, 146, 59);
   background-color: rgba(117, 182, 19, 0.647);
   display: block;
   width: 60%;
   height: 60%;
   border-radius:2.5rem ;
   margin-top:1rem ;
   
 }
 
 #cont {
     margin-top:1rem ;
   color: blue;
   background-color: rgb(168, 168, 211);
   border-radius: 2.5rem;
   /* padding-left: 2.3rem; */
   display: block;
     width: 60%;
     height: 60%;
 }
 #conf {
     margin-top:1rem ;
   color: purple;
   background-color: rgb(224, 174, 224);
   border-radius: 2.5rem;
   /* padding-left: 2.3rem; */
   display: block;
     width: 60%;
     height: 60%;
 }
 #pend {
     margin-top:1rem ;
   color: rgb(148, 87, 7);
   border-radius: 2.5rem;
   /* padding-left: 2.3rem; */
   display: block;
     width: 90%;
     height: 60%;
   background-color: burlywood;
 }
 #ref {
     margin-top:1rem ;
   color: red;
   border-radius: 2.5rem;
   display: block;
     width: 60%;
     height: 60%;
   /* padding-left: 2.3rem; */
   
   background-color: rgb(232, 156, 156);
 }
 #onb {
     margin-top:1rem ;
   color: blueviolet;
   border-radius: 2.5rem;
   /* padding-left: 2.3rem; */
 
   display: block;
   width: 60%;
   height: 60%;
   background-color: rgb(206, 187, 222);
 }
 .section {
   background-color: aquamarine;
   position: relative;
 }
 @media only screen and(max-width:320px) {
   .main-header{
     display: hidden;
   }
 }
 @media only screen and(max-width:768vh) {
   html {
     font-size: 45%;
   }
 }